QMenuBar {
    background-color: #232227;
    color: #FFFFFF
}

QMenuBar::item {
    background: #232227
}

QMenuBar::item:selected {
    background: #2E3336;
}

QTableWidget {
    gridline-color: #aaaaaa;
    font-size: 13pt;
}

QHeaderView::section {
    background-color: #646464;
    padding: 4px;
    border: 1px solid #fffff8;
    font-size: 14pt;
}