[Desktop Entry]
Version=2.0.2
Type=Application
Name=Pireal
GenericName=Pireal
Comment=Educational tool for working with Relational Algebra
Icon=@ INSTALLED_ICON @
Exec=pireal
Terminal=false
Categories=Application;Education;
