QHeaderView::section {
    background-color: #656565;
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid gray;
}

QTableView {
    selection-background-color: #7b9cd2;
}

QTreeWidget {
    font-size: 16px;
}
